img {
    width: 200px;
    height:200px;
}
body {
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
  }
.jumbotron {
    opacity: .95;
    border: 4px solid #c2c2c2;
}
.ruby{
    margin: 0px 25px 0px 25px;
    background-color: #dbdaff;
}
.sapp{
    margin: 0px 25px 0px 25px;
    background-color: #ffd3d3;
}
.topa{
    margin: 0px 25px 0px 25px;
    background-color: #ffd0f1;
}
.amet{
    margin: 0px 25px 0px 25px;
    background-color: #f9ffc7;
}
.test{
    background-color: #414141 !important;
    color: #eaff76;
    text-shadow: -1px -1px 0 #000000,  1px -1px 0 #000000,  -1px 1px 0 #000000,  1px 1px 0 #000000;

}
h1{
    font-size: 60px;
}
h4 {
    font-size: 55px;
}